In [140]:
import pandas as pd
import glob
import matplotlib.pyplot as plt
import seaborn
plt.style.use('seaborn-dark')

In [141]:
files = glob.glob("./dados/*.csv")
files

['./dados/data_logradouro.csv',
 './dados/veiculos_consolidados.csv',
 './dados/boletim_ocorencia.csv',
 './dados/perfil_envolvidos_acidente_final.csv']

df = pd.read_csv("./dados/boletim_ocorencia.csv",encoding="ISO 8859-1")
for file in files:
    temp = pd.read_csv(file,encoding="ISO 8859-1")
    if "Unnamed: 0" in temp.columns: temp.drop("Unnamed: 0",1,inplace=True)
    if "data hora_boletim" in temp.columns: temp.drop("data hora_boletim",1,inplace=True)       
    df = pd.merge(df,temp,on="numero_boletim",how="outer")

In [142]:
df_bol = pd.read_csv("./dados/boletim_ocorencia.csv")
df_vei = pd.read_csv("./dados/veiculos_consolidados.csv")
df_log = pd.read_csv("./dados/data_logradouro.csv")
df_vit = pd.read_csv("./dados/perfil_envolvidos_acidente_final.csv",encoding="ISO 8859-1")
df_vit.rename(columns={'num_boletim':'numero_boletim'},inplace=True)

In [143]:
df = pd.merge(df_bol,df_vei,on="numero_boletim",how="outer")
if "data hora_boletim" in df.columns: df.drop("data hora_boletim",1,inplace=True) 
if "Unnamed: 0" in temp.columns: temp.drop("Unnamed: 0",1,inplace=True)
if "data_hora_boletim" in df.columns: df.drop("data_hora_boletim",1,inplace=True) 
df = pd.merge(df,df_log,on="numero_boletim",how="outer")
if "data hora_boletim" in df.columns: df.drop("data hora_boletim",1,inplace=True) 
if "Unnamed: 0" in temp.columns: temp.drop("Unnamed: 0",1,inplace=True)
#if "data_hora_boletim" in df.columns: df.drop("data_hora_boletim",1,inplace=True) 
df = pd.merge(df,df_vit,on="numero_boletim",how="outer")
if "data hora_boletim" in df.columns: df.drop("data hora_boletim",1,inplace=True) 
#if "data_hora_boletim" in df.columns: df.drop("data_hora_boletim",1,inplace=True) 
if "Unnamed: 0" in temp.columns: temp.drop("Unnamed: 0",1,inplace=True)

In [144]:
df.describe(include=['O'])

,data_inclusao,tipo_acidente,desc_tipo_acidente,desc_regional,origem_boletim,hora_informada,indicador_fatalidade,descricao_ups,descricao_categoria,descricao_especie,...,data_hora_boletim,condutor,desc_severidade,sexo,cinto_seguranca,Embreagues,nascimento,categoria_habilitacao,descricao_habilitacao,especie_veiculo
count,443841,443841,443841,442417,443841,443841,443841,443841,443826,443826,...,443841,443841,443841,443841,443841,443841,443841,443841,443841,443841
unique,1319,11,11,9,5,2,2,2,6,24,...,71280,3,4,3,3,3,24044,12,12,25
top,2013-07-15,H01002,ABALROAMENTO COM VITIMA,CENTRO-SUL,PMMG,SIM,NÃO,ACIDENTE COM VÍTIMA NÃO FATAL,PARTICULAR,AUTOMOVEL,...,27/09/2012 19:14,SIM,NAO FATAL,M,NÃO INFORMADO,NÃO INFORMADO,00/00/0000,N,NAO INFORMADO ...,AUTOMOVEL
freq,1412,229000,229000,102036,289924,443636,439346,438894,356012,220974,...,1122,366193,232173,320495,419816,441927,38258,182540,182540,182831

In [145]:
df['data_inclusao'] = pd.to_datetime(df['data_inclusao'])
df.drop(["Unnamed: 0_x","Unnamed: 0_y"],1,inplace=True)

In [146]:
df.to_csv('consolidado_total.csv')

In [148]:
df.columns

Index(['numero_boletim', 'data_inclusao', 'tipo_acidente',
       'desc_tipo_acidente', 'cod_tempo', 'cod_pavimento', 'cod_regional',
       'desc_regional', 'origem_boletim', 'velocidade_permitida',
       'coordenada_x', 'coordenada_y', 'hora_informada',
       'indicador_fatalidade', 'valor_ups', 'descricao_ups',
       'valor_ups_antiga', 'sequencial_veiculo', 'descricao_categoria',
       'descricao_especie', 'descricao_situacao', 'descricao_tipo_socorro',
       'data_boletim', 'numero_municipio', 'nome_municipio',
       'sequencia_logradouros', 'numero_logradouro', 'tipo_logradouro',
       'nome_logradouro', 'Numero_bairro', 'nome_bairro',
       'descricao_tipo_bairro', 'numero_imovel', 'numero_imovel_proximo',
       'data_hora_boletim', 'numero_envolvido', 'condutor',
       'codigo_severidade', 'desc_severidade', 'sexo', 'cinto_seguranca',
       'Embreagues', 'Idade', 'nascimento', 'categoria_habilitacao',
       'descricao_habilitacao', 'declaracao_obito', 'cod_severidade_antiga',
       'especie_veiculo'],
      dtype='object')